################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Dapper.AutoMap/Dapper.AutoMap/obj
/Dapper.AutoMap/Dapper.AutoMap.Test/bin/Debug/net6.0
/Dapper.AutoMap/Dapper.AutoMap.Test/obj
/Dapper.AutoMap/Dapper.AutoMap/bin/Debug/net6.0
